streamlit
streamlit-components-v1
openai
nltk
textstat
requests
beautifulsoup4
urllib3
bcrypt
PyPDF2
PyMuPDF
python-docx
python-docx2txt
openpyxl
pandas
plotly
matplotlib
seaborn
wordcloud
Pillow
markdown
html2text
pyyaml
python-dotenv
